
{% extends "base.html" %}
{% block title %}WAV File Info{% endblock %}
{% block body %}
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

  <h1>WAV File Info: {{ filename }}</h1>
  {% if wav_info %}
    <p>Channels: {{wav_info["Channels"]}}</p>
    <p>File Format: {{wav_info["File Format"]}}</p>
    <p>Bit Depth: {{wav_info["Bit Depth"]}}</p>
    <p>bext Chunk: {{wav_info["bext chunk"]}}</p>
  {% endif%}
  <button type="button" class="btn btn-large btn-info" id="showWaveBtn" onclick="showWave();">Render Waveform</button>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{'0+5+0': [1, 2, 3, 4, 5, 6], '0+2+0': [7, 8]}" aria-label="adm_config" aria-describedby="basic-addon2" id="adm_config_input">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="generateBW64File();">Create BW64</button>
    </div>
      <a class="btn btn-warning disabled" type="button" id="downloadBtn" href="#">Download BW64</a>
  </div>
  <div id="waveform"></div>
  <script>
    var wavesurfer;
    let waveFormRendered = false;
    const CHANNELS = {{ wav_info["Channels"] }};
    let gainNodes = [];

    const LAYOUTS = {"mono (0+1+0)": 1,
                     "stereo (0+2+0)": 2,
                     "5.1 (0+5+0)": 6,
                     "5.1+2H (2+5+0)": 8,
                     "5.1+4H (4+5+0)": 10,
                     "(4+5+1)": 11,
                     "7.2+3H (3+7+0)": 12,
                     "9.1+4H (4+9+0)": 14,
                     "22.2 (9+10+3)": 24,
                     "7.1 (0+7+0)": 8,
                     "7.1+4H (4+7+0)": 12,
                     "7.1+2H (2+7+0)": 10,
                     "3.0 (0+3+0)": 3,
                     "5.0 (0+5+0)": 5};


    function showWave(){
      if (waveFormRendered === false){
        wavesurfer = WaveSurfer.create({
          container: '#waveform',
          backend: 'MediaElementWebAudio',
          waveColor: 'violet',
          progressColor: 'purple',
          minPxPerSec: 30,
          scrollParent: true,
          mediaControls: true,
          partialRender: true,
          splitChannels: true
        });
        fetch('/' + '{{ jsonpath }}')
        .then(response => {
          if (!response.ok) {
              throw new Error("HTTP error " + response.status);
          }
          return response.json();
        })
        .then(peaks => {
          console.log('loaded peaks! sample_rate: ' + peaks.sample_rate);
          // load peaks into wavesurfer.js
          wavesurfer.load("/" + "{{ path }}", peaks.data);
          initSoloNodes();
        })
        .catch((e) => {
          console.error('error', e);
        });
        waveFormRendered = true;
      }
    }

    function initSoloNodes(){
      wavesurfer.backend.sourceMediaElement.disconnect();
      let splitter = wavesurfer.backend.ac.createChannelSplitter(CHANNELS);
      for (ch of Array(CHANNELS).keys()){
        gainNodes[ch] = wavesurfer.backend.ac.createGain();
        splitter.connect(gainNodes[ch], ch, 0);
        gainNodes[ch].connect(wavesurfer.backend.ac.destination);
      }
      wavesurfer.backend.sourceMediaElement.connect(splitter);
    }

    function generateBW64File(){
      var in_path = "{{ path }}";
      var out_path = in_path.substr(0, in_path.lastIndexOf(".")) + "_bw64.wav";
      //var adm_config = $('#adm_config_input').val();
      var adm_config = {'0+5+0': [1, 2, 3, 4, 5, 6], '0+2+0': [7, 8]};
      $.post("/set_bw64_config", {
        in_wav_path: in_path,
        out_bwav_path: out_path,
        adm_dict: JSON.stringify(adm_config)
      }).done(function(response){
        console.log("BW64 File successfully created.");
        $("#downloadBtn")[0].href = response;
        $("#downloadBtn")[0].download = response. split("/").slice(-1)[0];
        $("#downloadBtn").removeClass("disabled");
      }).fail(function(){
        console.log("BW64 File failed.");
      });
    }

    function getValidLayouts(){
      let valid_layouts = {};
      for (const [sys, chs] of Object.entries(LAYOUTS)){
        if (chs <= CHANNELS){
          valid_layouts[sys] = chs;
        }
      }
      return valid_layouts;
    }

    function getValidRoutings(valid_layouts=getValidLayouts()){
      let valid_routings = {};
      for (const [sys, chs] of Object.entries(valid_layouts)){
        valid_routings[sys] = _getValidRoutingPair(chs);
      }
      return valid_routings;
    }

    function _getValidRoutingPair(sys_chs){
      let routing_pairs = [];
      for (ch of Array(CHANNELS).keys()){
        // axml / chna track index starts with 1
        let upper = 1 + ch + sys_chs - 1;
        if (upper <= CHANNELS){
            routing_pairs.push([1 + ch, upper]);
        } else {
          break;
        }
      }
      return routing_pairs;
    }


  </script>
{% endblock %}
